<% include adminheader %>
<div class="container my-4">
  <center>
    <div class="table-responsive">
      <h1>View & Manage Users Here</h1>
      <table class="table table-responsive my-4">
        <thead class="thead-dark">
          <tr>
            <th>Id</th>
            <th>Nmae</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Gender</th>
            <th>Role</th>
            <th>Info</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(row of result) { %>
          <tr>
            <td><%= row._id %></td>
            <td><%= row.name %></td>
            <td><%= row.email %></td>
            <td><%= row.mobile %></td>
            <td><%= row.gender %></td>
            <td><%= row.role %></td>
            <td><%= row.info %></td>
            <% if(row.status) { %>
            <td>
              <a href="/admin/manageuserstatus?s=block&regid=<%= row._id %>" class="site-btn btn btn-danger">Block</a>
            </td>
            <% } else { %>
            <td>
              <a href="/admin/manageuserstatus?s=unblock&regid=<%= row._id %>"
                class="site-btn btn btn-success">Unblock</a>
            </td>
            <% } %>
            <td>
              <a href="/admin/manageuserstatus?s=delete&regid=<%= row._id %>"
                class="site-btn btn btn-primary">Delete</a>
            </td>

          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </center>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>