<% include userheader %>
<% result.forEach(function(row,index=1) { %>
<% if (index%2==0) { %>
<section class="section">
  <div class="paras">
    <p class="sectionTag big-text"><%=row.Title%></p>
    <p class="sectionSubTag small-text"><%=row.text%></p>
    <small class="small-text">On&nbsp;<%=row.bdate%>&nbsp;By&nbsp;<%=row.ubname%></small>
  </div>
  <div class="thumbnail">
    <% if (row.file3){ %>
    <img style="height: 228px;" src="../images/blog/<%=row.file3%>" alt="Blog image" class="imgFluid">
    <% } %>
  </div>
</section>
<%} else { %>

<section class="section section-left">
  <div class="paras">
    <p class="sectionTag big-text"><%=row.Title%></p>
    <p class="sectionSubTag small-text"><%=row.text%></p>
    <small class="small-text">On&nbsp;<%=row.bdate%>&nbsp;By&nbsp;<%=row.ubname%></small>
  </div>
  <div class="thumbnail">
    <% if (row.file3){ %>
    <img style="height: 228px;" src="../images/blog/<%=row.file3%>" alt="Blog image" class="imgFluid">
    <% } %>
  </div>
</section>
<% } %>
<% }) %>
<% include script%>
<% include footer %>