<% include userheader %>

<div class="containr my-4 view-container">
  <%for(row of result) { %>
  <h1 class="view-big-text"><%- row.mainhead%></h1>
  <small>Categories: <%- row.courseList%></small>
  <div class="viewDetails-images">
    <img src="../images/courses_details/<%=row.file5%>" alt="Blog image" height="500px" width="870px">
  </div>
  <% } %>
  <div class="row">
    <div class="col-md-9 mid-sec">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item view-nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
            aria-controls="nav-home" aria-selected="true"><i class="fa fa-bookmark"></i> Overview</a>
          <a class="nav-item view-nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
            aria-controls="nav-profile" aria-selected="false"><i class="fa fa-cube"></i> Curriculum</a>
          <a class="nav-item view-nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-instructor" role="tab"
            aria-controls="nav-contact" aria-selected="false"><i class="fa fa-user"></i> Insturctor</a>
          <a class="nav-item view-nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-Review" role="tab"
            aria-controls="nav-contact" aria-selected="false"><i class="fa fa-comments"></i> Rewiew</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <%for(row of result) { %>
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <h5 class="view-big-text my-4">It’s time to learn React.js</h5>
          <p class="view-small-text"><%- row.Description%></p>
          <h5 class="view-big-text">Learning Outcomes</h5>
          <p class="view-small-text"><%- row.Learning %></p>
          <h5 class="view-big-text">Requirements</h5>
          <p class="view-small-text"><%- row.Require %></p>
          <h5 class="view-big-text">Who this course is for:</h5>
          <p class="view-small-text"><%- row.who %></p>
        </div>
        <% } %>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

          <div class="accordion" id="accordionExample">
            <% subcourseList.forEach((row,index)=> { %>
            <p> </p>
            <div class="card mb-2">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne_<%=index%>"
                    aria-expanded="true" aria-controls="collapseOne">
                    <%- row.subCourse %></button>
                </h2>
              </div>

              <div id="collapseOne_<%=index%>" class="collapse" aria-labelledby="headingOne"
                data-parent="#accordionExample">
                <div class="card-body">
                  <%- row.Description %>
                  <%if(row.cstatus) { %>
                  <a class="btn btn-primary disabled " href="<%= row.Link %>">Subscribe first to get a fullcourse</a>
                  <% } else { %>
                  <a class="btn btn-primary " href="<%= row.Link %>">View Courses</a>
                  <% } %>
                </div>
              </div>
            </div>
            <% }) %>
          </div>

          <!-- PayPal payment form for displaying the buy button -->
          <form action="<%= PAYPAL_URL %>" method="post">
            <!-- Identify your business so that you can collect the payments. -->
            <input type="hidden" name="business" value="<%= PAYPAL_ID %>">

            <!-- Specify a Buy Now button. -->
            <input type="hidden" name="cmd" value="_xclick">

            <!-- Specify details about the item that buyers will purchase. -->
            <input type="hidden" name="item_name" value="Verify Location Charges">
            <input type="hidden" name="item_number" value="<%=courseList%>">
            <input type="hidden" name="amount" value="50">
            <input type="hidden" name="currency_code" value="USD">

            <!-- Specify URLs -->
            <input type="hidden" name="return"
              value="http://localhost:3000/user/payment?coursename=<%=courseList%>&sunm=<%= sunm %>&price=50"">
            <input type=" hidden" name="cancel_return" value="http://localhost:3000/user/cancel/">

            <!-- Display the payment button. -->
            <input type="image" name="submit" border="0" style="float: right;"
              src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif">
          </form>
          <form action="/change_course_status" id="hiddenform">
            <input type="hidden" name="course_id" id="" value="<>">
            <input type="hidden" name="user_id" id="">
            <input type="hidden" name="payment_status" id="">
          </form>
        </div>
        <div class="tab-pane fade" id="nav-instructor" role="tabpanel" aria-labelledby="nav-contact-tab">hello
          Instructor
        </div>
        <div class="tab-pane fade" id="nav-Review" role="tabpanel" aria-labelledby="nav-contact-tab">hello Review
        </div>
      </div>
    </div>
  </div>


</div>
<script src=" https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" language="javascript">
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
</script>
<script type="text/javascript" language="javascript">
  $('.panel-collapse').on('show.bs.collapse', function () {
    $(this).siblings('.panel-heading').addClass('active');
  });

  $('.panel-collapse').on('hide.bs.collapse', function () {
    $(this).siblings('.panel-heading').removeClass('active');
  });
</script>
<% include footer%>